<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/social.css">
    <title>SOS Pelotas</title>
</head>

<body>

    <div class="header" style="background-color: white;">
        <a href="/sos">
            <img class="logo" src="/images/sospelotas.png" alt="SOS Pelotas">
        </a>
    </div>
    <div class="container">
        <ul>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/policia.png" alt="Logo">
                    </div>
                    <div class="my-card-content">
                        <h3>Policia Militar</h3>
                        <hr>
                        <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare
                            placerat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/ambulancia.png" alt="Logo">
                    </div>
                    <div class="my-card-content">
                        <h3>SAMU</h3>
                        <hr>
                        <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare
                            placerat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/bombeiro.png" alt="Logo">
                    </div>
                    <div class="my-card-content">
                        <h3>Corpo de Bombeiros</h3>
                        <hr>
                        <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare
                            placerat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/distintivo-de-policia.png" alt="Logo">
                    </div>
                    <div class="my-card-content">
                        <h3>Guarda Municipal</h3>
                        <hr>
                        <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare
                            placerat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/informacao.png" alt="Logo">
                    </div>
                    <div class="my-card-content">
                        <h3>Ouvidoria da Prefeitura de Pelotas</h3>
                        <hr>
                        <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare
                            placerat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/hospital.png" alt="Logo">
                    </div>
                    <div class="my-card-content">
                        <h3>Pronto Socorro de Pelotas</h3>
                        <hr>
                        <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare
                            placerat.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>