<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/social.css">
    <title>SOS Pelotas</title>
</head>

<body>

    <div class="header" style="background-color: white;">
        <a href="/sos">
            <img class="logo" src="/images/sospelotas.png" alt="SOS Pelotas">
        </a>
    </div>
    <div class="container">
        <ul>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/policia.png" alt="Logo">
                        <a href="tel:190" class="btn orange-btn btn-call">Ligar</a>
                    </div>
                    <div class="my-card-content">
                        <h3>Brigada Militar</h3>
                        <hr>
                        <p class="desc">A Brigada Militar do Rio Grande do Sul é a força de segurança pública que têm
                            por função o policiamento ostensivo e a preservação da ordem pública.</p>
                        <p class="desc">Telefone: 190 / (53) 3309-5311</p>
                        <p class="desc">Endereço: Av. Bento Gonçalves, 3207</p>
                        <p class="desc">Bairro: Centro</p>
                        <p class="desc">CEP: 96015-145</p>
                        <p class="desc">Horário: 24 horas</p>
                        <p class="desc">Site: <a href="https://www.facebook.com/BrigadaMilitarRS/">https://www.facebook.com/BrigadaMilitarRS/</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/ambulancia.png" alt="Logo">
                        <a href="tel:192" class="btn orange-btn btn-call" >Ligar</a>
                    </div>
                    <div class="my-card-content">
                        <h3>SAMU</h3>
                        <hr>
                        <p class="desc">O SAMU está disponível para a população em momentos de urgência e emergência
                            médica. A ligação é gratuita e pode ser realizada por qualquer telefone fixo ou móvel. O
                            serviço reúne médicos, enfermeiros, auxiliares de enfermagem e socorristas, que podem
                            prestar socorro em emergências de natureza traumática, clínica, pediátrica, cirúrgica,
                            gineco-obstétrica e de saúde mental para a população em qualquer lugar, seja na residência,
                            local de trabalho ou vias públicas.</p>
                        <p class="desc">Telefone: 192 / (53) 3225-0032</p>
                        <p class="desc">Endereço: Rua Bernardo Pires, 577</p>
                        <p class="desc">Bairro: Centro</p>
                        <p class="desc">CEP: 96020-710</p>
                        <p class="desc">Horário: 24 horas</p>
                        <p class="desc">Site: <a href="https://facebook.com/pages/SAMU-Pelotas/">https://facebook.com/pages/SAMU-Pelotas/</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/bombeiro.png" alt="Logo">
                        <a href="tel:193" class="btn orange-btn btn-call">Ligar</a>
                    </div>
                    <div class="my-card-content">
                        <h3>Corpo de Bombeiros</h3>
                        <hr>
                        <p class="desc">Os Corpos de Bombeiros Militares são corporações cuja principal missão consiste
                            na execução de atividades de Defesa Civil, Prevenção e Combate a Incêndios, Buscas,
                            Salvamentos e Socorros Públicos no âmbito de suas respectivas Unidades Federativas.</p>
                        <p class="desc">Telefone: 193 / (53) 3222-2222 </p>
                        <p class="desc">Endereço: Rua Gomes Carneiro, 1880</p>
                        <p class="desc">Bairro: Centro</p>
                        <p class="desc">CEP: 96010-610 </p>
                        <p class="desc">Horário: 24 horas </p>
                        <p class="desc">Site: <a href="https://www.bombeiros.rs.gov.br/">https://www.bombeiros.rs.gov.br/</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/distintivo-de-policia.png" alt="Logo">
                        <a href="tel:153" class="btn orange-btn btn-call">Ligar</a>
                    </div>
                    <div class="my-card-content">
                        <h3>Guarda Municipal</h3>
                        <hr>
                        <p class="desc">É por meio do Centro Integrado de Operações Municipais (CIOM) que a maioria das
                            ocorrências chega ao conhecimento da Guarda. Na sala de operações há o monitoramento de
                            diversos pontos da cidade e a central telefônica.
                        </p>
                        <p class="desc">Telefone: 153 / (53) 3223-3129 </p>
                        <p class="desc">Endereço: Rua Gen. Manoel Lucas de Lima, 215 </p>
                        <p class="desc">Bairro: Três Vendas </p>
                        <p class="desc">CEP: 96060-350 </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/informacao.png" alt="Logo">
                        <a href="tel:156" class="btn orange-btn btn-call">Ligar</a>
                    </div>
                    <div class="my-card-content">
                        <h3>Ouvidoria da Prefeitura de Pelotas</h3>
                        <hr>
                        <p class="desc">A Ouvidoria é o meio pelo qual o cidadão pode entrar em contato com a Prefeitura de Pelotas, a fim de obter informações, cobrar serviços e solicitar soluções para problemas que competem ao poder público municipal.
                        </p>
                        <p class="desc">Telefone: 156 /  (53) 3309-6000

                        </p>
                        <p class="desc">Endereço: Praça Cel. Pedro Osório, 101

                        </p>
                        <p class="desc">Bairro: Centro</p>
                        <p class="desc">CEP: 96010-150
                        </p>
                        <p class="desc">Site: <a href="http://pelotas.com.br/servicos/ouvidoria/">http://pelotas.com.br/servicos/ouvidoria/</a></p>
                    
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/conselho.png" alt="Logo">
                        <a href="tel:5332275613" class="btn orange-btn btn-call">Ligar</a>
                    </div>
                    <div class="my-card-content">
                        <h3>Conselho Tutelar</h3>
                        <hr>
                        <p class="desc">Os conselheiros tutelares são os responsáveis por garantir os direitos da
                            criança e do adolescente, prescritos no Estatuto da Criança e do Adolescente (ECA). </p>
                        <p class="desc">Telefone: (53) 3227-5613 </p>
                        <p class="desc">Endereço: Rua Três de Maio, 1060 </p>
                        <p class="desc">Bairro: Centro</p>
                        <p class="desc">CEP: 96010-620 </p>
                        <p class="desc">Horário: De Segunda a Sexta das 08h às 18h30min </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/cras.png" alt="Logo">
                        <a href="tel:5332793154" class="btn orange-btn btn-call">Ligar</a>
                    </div>
                    <div class="my-card-content">
                        <h3>CRAS</h3>
                        <hr>
                        <p class="desc">Os Centros de Referência de Assistência Social (CRAS) estão abertos e, embora
                            não estejam fazendo os atendimentos de grupos para evitar aglomerações e a proliferação do
                            novo Coronavírus, seguem prontos para atender as famílias em situação de vulnerabilidade,
                            como no acesso a alimentos. </p>
                        <p class="desc">Telefone: (53) 3279-3154 </p>
                        <p class="desc">Endereço: Rua Dona Darcí Vargas, 212 </p>
                        <p class="desc">Bairro: Porto </p>
                        <p class="desc">CEP: 96076-050</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="my-card">
                    <div class="my-card-image">
                        <img src="/images/sanep.png" alt="Logo">
                        <a href="tel:5330261144" class="btn orange-btn btn-call">Ligar</a>
                    </div>
                    <div class="my-card-content">
                        <h3>SANEP</h3>
                        <hr>
                        <p class="desc">O Serviço Autônomo de Saneamento de Pelotas (SANEP) é uma autarquia da
                            prefeitura responsável pelo abastecimento de água tratada na cidade de Pelotas, estado do
                            Rio Grande do Sul, Brasil.
                        </p>
                        <p class="desc">Telefone: (53) 3026-1144 </p>
                        <p class="desc">Endereço: Rua Félix Xavier da Cunha, 649/653 </p>
                        <p class="desc">Bairro: Centro</p>
                        <p class="desc">CEP: 96010-000 </p>
                        <p class="desc">Site: <a href="http://www.pelotas.rs.gov.br/sanep/">http://www.pelotas.rs.gov.br/sanep/</a></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>