<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sos.css">
    <title>Portal da Prefeitura</title>
</head>
<body>
    <div class="container">
        <header>
            <img class="logoSOS" src="/images/sospelotas.png" alt="Logo SOSPelotas" >
            <img class="logo" src="/images/p2.png" alt="Logo da Prefeitura de Pelotas" >
        </header>
        <div class="left">
            <ul>
                <li>
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/policia.png" alt="Logo da policia" >
                        </div>
                        <div class="card-content">
                            <h3 class="cardH3" >Policia Militar</h3>
                            <div class="line"></div>
                            <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare placerat.</p>
                        </div>
                        <div class="card-media">
                            <img class="socialSite" src="/images/www.png" alt="Logo do site" >
                            <img class="social" src="/images/ligar.png" alt="Logo de telefone" >
                            <img class="social" src="/images/whatsapp.png" alt="Logo do whatsapp" >
                            <img class="social" src="/images/facebook.png" alt="Logo do facebook" >
                            <img class="social" src="/images/instagram.png" alt="Logo do instagram" >
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/ambulancia.png" alt="Logo da policia" >
                        </div>
                        <div class="card-content">
                            <h3 class="cardH3" >SAMU</h3>
                            <div class="line"></div>
                            <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare placerat.</p>
                        </div>
                        <div class="card-media">
                            <img class="socialSite" src="/images/www.png" alt="Logo do site" >
                            <img class="social" src="/images/ligar.png" alt="Logo de telefone" >
                            <img class="social" src="/images/whatsapp.png" alt="Logo do whatsapp" >
                            <img class="social" src="/images/facebook.png" alt="Logo do facebook" >
                            <img class="social" src="/images/instagram.png" alt="Logo do instagram" >
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/bombeiro.png" alt="Logo da policia" >
                        </div>
                        <div class="card-content">
                            <h3 class="cardH3" >Corpo de Bombeiros</h3>
                            <div class="line"></div>
                            <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare placerat.</p>
                        </div>
                        <div class="card-media">
                            <img class="socialSite" src="/images/www.png" alt="Logo do site" >
                            <img class="social" src="/images/ligar.png" alt="Logo de telefone" >
                            <img class="social" src="/images/whatsapp.png" alt="Logo do whatsapp" >
                            <img class="social" src="/images/facebook.png" alt="Logo do facebook" >
                            <img class="social" src="/images/instagram.png" alt="Logo do instagram" >
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/distintivo-de-policia.png" alt="Logo da policia" >
                        </div>
                        <div class="card-content">
                            <h3 class="cardH3" >Guarda Municipal</h3>
                            <div class="line"></div>
                            <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare placerat.</p>
                        </div>
                        <div class="card-media">
                            <img class="socialSite" src="/images/www.png" alt="Logo do site" >
                            <img class="social" src="/images/ligar.png" alt="Logo de telefone" >
                            <img class="social" src="/images/whatsapp.png" alt="Logo do whatsapp" >
                            <img class="social" src="/images/facebook.png" alt="Logo do facebook" >
                            <img class="social" src="/images/instagram.png" alt="Logo do instagram" >
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/informacao.png" alt="Logo da policia" >
                        </div>
                        <div class="card-content">
                            <h3 class="cardH3" >Ouvidoria da Prefeitura de Pelotas</h3>
                            <div class="line"></div>
                            <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare placerat.</p>
                        </div>
                        <div class="card-media">
                            <img class="socialSite" src="/images/www.png" alt="Logo do site" >
                            <img class="social" src="/images/ligar.png" alt="Logo de telefone" >
                            <img class="social" src="/images/whatsapp.png" alt="Logo do whatsapp" >
                            <img class="social" src="/images/facebook.png" alt="Logo do facebook" >
                            <img class="social" src="/images/instagram.png" alt="Logo do instagram" >
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/hospital.png" alt="Logo da policia" >
                        </div>
                        <div class="card-content">
                            <h3 class="cardH3" >Pronto Socorro de Pelotas</h3>
                            <div class="line"></div>
                            <p class="desc">Horário de funcionamento e descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim condimentum ex sed posuere. Morbi gravida ornare placerat.</p>
                        </div>
                        <div class="card-media">
                            <img class="socialSite" src="/images/www.png" alt="Logo do site" >
                            <img class="social" src="/images/ligar.png" alt="Logo de telefone" >
                            <img class="social" src="/images/whatsapp.png" alt="Logo do whatsapp" >
                            <img class="social" src="/images/facebook.png" alt="Logo do facebook" >
                            <img class="social" src="/images/instagram.png" alt="Logo do instagram" >
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <footer>
            <p></p>
        </footer>
    </div>
</body>
</html>