<nav class="col-md-3 col-lg-2 vh-100 d-md-block bg-light sidebar collapse text-left text-black-50">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li style="color: blue !important; justify-content: start !important;" class="nav-item">
                <a style="color: blue !important;" class="nav-link active" href="/admin/users">Usuários</a>
            </li>
            <li style="color: blue; justify-content: start !important;" class="nav-item">
                <a style="color: blue !important;" class="nav-link" href="/admin/institutions">Instituições</a>
            </li>
            <li style="color: blue; justify-content: start !important;" class="nav-item">
                <a style="color: blue !important;" class="nav-link" href="/admin/categories">Categorias</a>
            </li>
            <li style="color: blue; justify-content: start !important;" class="nav-item">
                <a style="color: blue !important;" class="nav-link" href="/admin/institutions/solicitation">Solicitações</a>
            </li>
            <li style="color: blue; justify-content: start !important;" class="nav-item">
                <a style="color: blue !important;" class="nav-link" href="/access/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>