<nav id="sidebarMenu" class="col-md-3 col-lg-2 vh-100 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/admin/users">Usuários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/institutions">Instituições</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/institutions/solicitation">Solicitações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/access/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>