<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/admin.css' />

</head>
<body>
    <div class="container">
        <div class="row">
            <a class="col-xl-4 col-md-6 col-xs-12" href="/users">
                <button class="option users">
                    Usuários
                </button>
            </a>
            <a class="col-xl-4 col-md-6 col-xs-12" href="/institutions">
                <button class="option institutions">
                    Instituições
                </button>
            </a>
            <a class="col-xl-4 col-md-6 col-xs-12" href="/categories">
                <button class="option institution_categories">
                    Categorias
                </button>
            </a>
        </div>
    </div>

</body>
</html>