<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/home.css' />

</head>

<body>

    <div class="header">
        <a href="/">
            <img class="logo" src="/images/logo_prefeitura.png" alt="">
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-12 card left_card">
                <div class="logo_card">
                    <img src="/images/sospelotas.png" alt="">
                </div>
                <p>
                    Em caso de<strong> emergência </strong>ou dúvida, saiba para qual órgão público você deve
                    <strong>ligar ou consultar. </strong>
                </p>
                <a href="/sos">
                    <button class="card_btn">SOS</button>
                </a>
            </div>
            <div class="col-xl-6 col-md-12 card right_card">
                <div class="logo_card">
                    <img src="/images/pelotassocial.png" alt="">
                </div>
                <p>
                    Caso queira <strong>ajudar a comunidade</strong>, descubra ONGs e órgãos públicos que <strong>
                        precisam da sua ajuda! </strong>
                </p>
                <a href="/social">
                    <button class="card_btn">Social</button>
                </a>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>